.navegando {
  position: relative;
  .navegando__gracias {
    width: 300px;
    height: 100%;
    background: url("../../images/Base.png") no-repeat;
    background-size: contain;
    position: relative;
    position: absolute;
    right: 30%;
    &::after {
      content: "";
      width: 350px;
      height: 350px;
      position: absolute;
      background-image: url(../../images/Illustration-1.png);
      background-repeat: no-repeat;
      background-position: bottom;
      right: -150px;
      top: 220px;
      z-index: 30;
    }
  }
}

.view-thanks {
  display: grid;
  grid-template-rows: 1fr auto auto;
  padding-right: 22%;
  .text {
    display: flex;
    align-items: flex-end;
    &:last-child {
      align-items: flex-start;
    }
  }
  .button{
      display: flex;
      justify-content: flex-end;
  }
}
