.prices {
  width: fit-content;
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto auto;
}

.card-results {
  width: 436px;
  &__titulo {
    &-text {
      background: $gris-claroBajo;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      padding: 8px 0;
      text-align: center;
      display: block;
    }
  }
  &__info {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
    padding: 30px 20px;
    position: relative;
    &-items {
      border-right: solid 3px $gris-claroBajo;
      display: grid;
      grid-gap: 10px;
    }
    &-texto{
      display: grid;
      grid-gap: 8px;
      border-right: solid 3px $gris-claroBajo;
    }
    &-figure{
      display: flex;
      align-items: center;
      justify-content: center;
      .img{
        width: 100px;
      }
    }
    &::before{
      content: '';
      position: absolute;
      width: 90%;
      height: 3.2px;
      background-color: $gris-claroBajo;
      bottom: 0px;
      left: 18px;
    }
  }
  &__list {
    padding: 30px 20px;
    &-items {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 7px;
      &:last-child{
        margin-top: 20px;
      }
    }
  }
}

