
// colores


$azul           : hsla(214, 84%, 55%, 1);
$rojo           : rgb(248, 105, 117);
$verde          : hsla(99, 51%, 59%, 1);
$blanco         : hsla(0, 0%, 100%, 1);
$blanco-bajo    : rgb(203, 216, 231);
$gris           : rgb(240, 244, 250);
$gris-bajo      : rgb(193, 197, 202);
$gris-claro     : rgb(125, 143, 167);
$gris-claroBajo : rgb(231, 239, 250);
$gris-oscuro    : rgb(89, 89, 90);
$gris-azulado   : rgb(133, 154, 180);
$gris-tachado   : rgb(207, 210, 223);

$fuente-letra   : 'Roboto', sans-serif;